@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Trocchi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

.starting-point {
  padding-top: 100px;
}
